@charset "utf-8";

@import '~bulma/sass/utilities/_all.sass';

$family-sans-serif: Cairo, Arial, sans-serif;
$body-family: $family-sans-serif;
$body-color: rgba(0, 0, 0, 0.87);
@import '~bulma/sass/base/_all.sass';
