html {
  -webkit-font-smoothing: auto;
}

.viewport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.site-logo {
  margin-top: -0.5rem;
}

.navbar-ksm {
  margin-left: 1em;
  width: 100%;
  display: flex;
  margin-left: 1em;
  justify-content: space-between;
}

.navbar-link svg.icon * {
  fill: #ffffff;
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .navbar .container {
    padding-left: 0.75em;
  }
}

.search-wrapper {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.search-field {
  width: 40rem;
  position: relative;
}

.search-error-msg {
  width: 100%;
  position: absolute;
  top: -1.5rem;
}

@media screen and (max-width: 768px) {
  .search-wrapper {
    margin-top: 2rem;
  }

  .search-field {
    width: 100%;
  }
}

/**
 * Card
 */

.card {
  border: 1px solid #dadce0;
  border-radius: 0.5rem;
}

.card-header-title {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.84);
  padding: 1rem 1rem 0 1rem;
  font-weight: 500;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-content {
  text-align: left;
  padding: 0.75rem 1rem 1rem 1rem;
}

.card-header-icon {
  padding: 0 0.75rem 0;
  .icon {
    opacity: 0.5;
    width: 12px;
    height: 12px;
  }
  .icon:hover {
    opacity: 0.7;
  }
}

.balance-card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.balance-card {
  margin-top: 1rem;
  width: 40rem;
  .card-header-title {
    color: #5f6368;
  }
  .amount {
    font-size: 26px;
    color: #3c4043;
  }
}

@media screen and (max-width: 768px) {
  .balance-card {
    width: 100%;
  }
}
