html {
  -webkit-font-smoothing: auto;
}

.viewport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.site-logo {
  margin-top: -0.5rem;
}

.navbar-ksm {
  margin-left: 1em;
  width: 100%;
  display: flex;
  margin-left: 1em;
  justify-content: space-between;
}

.navbar-link svg.icon * {
  fill: #ffffff;
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .navbar .container {
    padding-left: 0.75em;
  }
}

.search-wrapper {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

.search-field {
  width: 40rem;
}

@media screen and (max-width: 768px) {
  .search-wrapper {
    margin-top: 2rem;
  }

  .search-field {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/**
 * Card
 */

.card {
  border: 1px solid #dadce0;
  border-radius: 0.5rem;
}

.card-header-title {
  font-size: 1.125rem;
  padding: 1rem 1rem 0 1rem;
}

.card-content {
  text-align: left;
  padding: 0.75rem 1rem 1rem 1rem;
}

.balance-card-warpper {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balance-card {
  margin-top: 1rem;
  width: 40rem;
}

@media screen and (max-width: 768px) {
  .alance-card {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
